<div class="generic-django-admin-header">
    <div class="main-section">
        <span class="css-pm3q3o"> Predict PCV</span>
       
    </div>

</div>
<div id="content-main" class="contentMain">
    <div class="col-md-6" style="padding: 0;">
    <form autocomplete="off">

        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Expected Return On Ad Spend (ROAS)</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="purchaseRoas" id="purchaseRoas" class="numberinput form-control" min="0" [(ngModel)]="purchaseRoas">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Ads Impression you are targeting against your campaigns</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="impression" id="impression" class="numberinput form-control" min="0" [(ngModel)]="impression">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Per Purchase Net Cost should be in which range?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="costPerResults" id="costPerResults" class="numberinput form-control" min="0" [(ngModel)]="costPerResults">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much you are planning to spend on Campaigns?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="amountSpent" id="amountSpent" class="numberinput form-control" min="0" [(ngModel)]="amountSpent">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>

            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Audience Reach you are targeting?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="reach" id="reach" class="numberinput form-control" min="0" [(ngModel)]="reach">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            
            
        </fieldset>
        <a class="css-xpr64j pull-right" style=" float: right; margin-right: 65px;" id="savebtn" type="button" value="Calculate" (click)="getPCV()">
            Calculate
        </a>
        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Predicted PCV expected:</label>
                    <div class="related-widget-wrapper">
                        <input type="text" name="pridictedPCV" id="pridictedPCV" class="numberinput form-control" min="0" [(ngModel)]="pridictedPCV">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
           
        </fieldset>
    </form>
</div>
</div>