<!-- 
  <div class="col-sm-3 col-md-3 col-lg-3" style="padding:1.2rem 0 1.2rem 0">
    <div class="card" >
      <div class="card-body">
            <div class="row" style="padding:0 0 1.2rem 0;">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <img src="../../assets/images/card-demo-profile.jpeg" style="width:100%; height:80%" alt="">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8" style="padding:0;" >
                            <p>system generated  <strong>Zaeem Ul Haq </strong><strong style="color:rgb(41, 92, 163);">Report</strong></p>
                            <span >Today at 2:27pm</span>
                    </div>
            </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:0;">
      <img src="../../assets/images/card-demo-img.PNG" style="width:100%" alt="">
      </div>
      </div>
    </div>
  </div> -->
    <div class="card">
      <div class="card-body">
            <div class="row" style="padding:0;">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <img src="{{notification.apprearance_Logo}}" style="Height:30px;width:40px;" alt="">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9" style="padding:0;" >
                            <p  style="color: #9ea1a1;">{{notification.systemgenerated}} <strong class="css-1x48jmz" [ngClass]="
                              {
                              'label-red': notification.platform_status === 'Drop' || notification.platform_status === 'Error',
                              'label-orange': notification.platform_status === 'Prolonged Spike' || notification.platform_status === 'Warning',
                              'label-green': notification.platform_status === 'Success' 
                              }">{{notification.platform_status}}</strong></p>
                            <label style="color: #cdcece;">{{notification.platform_Time}}</label>
                    </div>
            </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:0;">
    <p>
    {{notification.sumofsales}} <strong style="color:#7f540b;">{{notification.postwise_Status}}</strong> {{notification.platform_Date}}{{notification.whereplatform}} <strong>{{notification.platform_Name}}</strong>
    </p>
    <br>
    <p style="color: #cdcece;">{{notification.view}}</p>
    </div>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding:0;">
      <div>
        <img src="../../../../assets/images/{{notification.reportImage}}" style="width:80%; height:50px;" alt="">
      </div>
      </div>
                  <div class="row" style="padding:1.2rem 0 0  0;">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      <h2 style="margin-top: 0px !important;text-align:center; font-size: 35px;background-color: transparent;" [ngClass]="
                      {
                      'card-widget-minus': notification.clicks < 0,
                      'card-widget-plus':notification.clicks > 0
                      }" >{{notification.clicks}}</h2>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-top: 6px;">
                        <div  class="btn btn-primary pull-right align-middle" (click)="this.getwidgetDetailData(this.notification.widget_Id)" >Explore</div>
                    </div>
                   
            </div>
      </div>
    </div>