
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2 explore-sidebar subMenu-section-padding">
            <div class="faq">
                <div   class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="css-ctqjzd" *ngFor="let item of Getworkbookdtos">
                        <div role="tab" class="roleDiv" id="heading">
                            <!-- <h3 class="panel-title-z"> -->
                                
                                <a class="css-ucma6b collapsed" data-toggle="collapse" href="#collapse{{item.id}}" aria-expanded="true" aria-controls="collapse" >{{item.name}}</a>
                            <!-- </h3> -->
                        </div>
                        <div id="collapse{{item.id}}" class="panel-collapse collapse">
                            <div class="submenu-item-padding">
                            
                                <div class="css-bk42y6">
                                    <a id="link{{page.id}}" class="css-1wfdhj" *ngFor="let page of item.pages" routerLinkActive="ActiveRoute" aria-expanded="false"  (click)="getpagewidgets(page)">
                                        {{page.name}}
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div Class="col-sm-12 col-md-8 col-lg-10 col-lg-10 publish-content-body">
            <app-workbookpages #test></app-workbookpages>

        </div>
    </div>
    </div>