<div id="container" class="container-fluid">


    <!-- Content -->
    <div id="content">
        <div class="main-section">
            <div class="col-md-12" style="padding-left: 0px;">
                <h3>Select Chart</h3>
                <br>
            </div>

            <div class="row kpi-section chartList-bg-clr" *ngFor="let item of chartList">
                <div class="col-md-6">
                    <h3>
                       {{item.ChartTitle}}
                    </h3>
                    <p>
                      {{item.ChartDescription}}
                    </p>
                    <div>

                        <button class="css-xpr64j" type="submit" style="margin-right:5px;">Add this chart</button>
                        <!-- <button class="css-1v028ab" type="submit">Verify dependency</button> -->

                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 0px; min-height: 250px;">
                   
                   
                   
                    <!-- <app-area-chart-wedget #areaChart1></app-area-chart-wedget> -->
                    <highcharts-chart [Highcharts]="Highcharts" [options]="item.Chart"
                    style="width: 100%; height: 100%; display: block;"></highcharts-chart>
                
                
                
                </div>
            </div>

            <!-- end content-->
        </div>
    </div>
    <!-- END Content -->
</div>