<div class="generic-django-admin-header">
    <div class="main-section">
        <span class="css-pm3q3o"> Predict Amount Spend</span>
       
    </div>

</div>
<div id="content-main" class="contentMain">
    <div class="col-md-6" style="padding: 0;">
    <form autocomplete="off">

        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much average earning per purchase is your target</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="purchaseConversionValue" id="purchaseConversionValue" class="numberinput form-control" min="0" [(ngModel)]="purchaseConversionValue">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Ads Impression you are targeting against your campaigns</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="impression" id="impression" class="numberinput form-control" min="0" [(ngModel)]="impression">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much web purchases you expect to finalize</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="result" id="result" class="numberinput form-control" min="0" [(ngModel)]="result">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Audience Reach you are targeting?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="reach" id="reach" class="numberinput form-control" min="0" [(ngModel)]="reach">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">What is type of Purchases target (1. Web, 2. Posts) ?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="resultTypeCode" id="resultTypeCode" class="numberinput form-control" min="0" [(ngModel)]="resultTypeCode">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            
            
        </fieldset>
        <a class="css-xpr64j pull-right" style=" float: right; margin-right: 65px;" id="savebtn" type="button" value="Calculate" (click)="getAmountSpend()">
            Calculate
        </a>
        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">Predicted spending required for Campaign sending:</label>
                    <div class="related-widget-wrapper">
                        <input type="text" name="PredictedAmountSpend" id="PredictedAmountSpend" class="numberinput form-control" min="0" [(ngModel)]="PredictedAmountSpend">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
           
        </fieldset>
    </form>
</div>
</div>