<div class="generic-django-admin-header">
    <div class="main-section">
        <span class="css-pm3q3o"> Predict Reach</span>
       
    </div>

</div>
<div id="content-main" class="contentMain">
    <div class="col-md-6" style="padding: 0;">
    <form autocomplete="off">

        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack"> How much amount you want to spend on Campaigns?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="amountSpentUSD" id="amountSpentUSD" class="numberinput form-control" min="0" [(ngModel)]="amountSpentUSD">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much web purchases you expect to finalize</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="results" id="results" class="numberinput form-control" min="0" [(ngModel)]="Results">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Ads Impression you are targeting against your campaigns</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="impression" id="impression" class="numberinput form-control" min="0" [(ngModel)]="impression">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            
        </fieldset>
        <a class="css-xpr64j pull-right" style=" float: right; margin-right: 65px;" id="savebtn" type="button" value="Calculate" (click)="getReach()">
            Calculate
        </a>
        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">System have identified HIGH correlation between Purchase Targets & Reach. Predicted audience REACH as below:</label>
                    <div class="related-widget-wrapper">
                        <input type="text" name="pridictedReach" id="pridictedReach" class="numberinput form-control" [(ngModel)]="pridictedReach">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
           
        </fieldset>
    </form>
</div>
</div>