
<router-outlet></router-outlet>
<footer id="footer" class="footer sidebar">
    <p class="footer__version">
        ZOOM360 version 0.12.2 | <a target="_blank" href="#">Changelog</a>
    </p>
    <p class="footer__copyright">
        © 2020
        <a href="#" title="ZOOM360 Inc">ZOOM360 Inc</a>. All rights reserved.
        <a href="#">Terms of Service.</a>
    </p>
</footer>
