gridster {
  /* width: 99vw; */
  height: calc(100vh - 104px);
}
.d_flex_custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chart_header_custom {
  background: #80808038;
}
.background {
  background-image: linear-gradient(
    to right,
    #2b9c8d,
    #008da4,
    #0078bd,
    #005dc6,
    #4e2dac
  );
}

hr:last-child {
  display: none;
}
.separatorScorecard{
	border-right: 1px solid #d3d3d3;
  margin-top: unset;
  margin-bottom: unset;
  padding-top: unset;
  padding-right: unset;
  padding-bottom: unset;
  padding-left: unset;
  font-family: inherit;
  box-sizing: border-box;
  margin-left: 8px;
  margin-right: 8px;
  width: 1px;
  /* height: 24px; */
  min-height:60%;
  vertical-align: top;
  /* border-width: 0px 0px 0px 1px; */

}
.separatorScorecardNone
{
  display: none;
}
/* h5:last-child{
  padding: 6px;
  color: #ffffff;
  background: red;
  border-radius: 50px;
} */
/* h5.bgCounterStyle:nth-child(even){
  padding: 6px;
  color: #ffffff;
  background: red;
  border-radius: 50px; 
} */
 .bgCounterStyle 
{
  padding: 6px;
  color: #ffffff;
  background: red;
  border-radius: 50px; 
} 
.bgCounterStyleDefault
{
  padding: unset;
  color:unset;
  background: unset;
  border-radius: unset;
}
.bgCounterStyleGreen
{
  padding: 6px;
  color: #ffffff;
  background: #4b915f;
  border-radius: 50px; 
} 
.bgCounterStyleLightPurple
{
  padding: 6px;
  color: #ffffff;
  background: #6B62C4;
  border-radius: 50px; 
} 


/* h4 .bgSecondValueCounter:nth-of-type(2)
{
  padding: 6px;
  color: #ffffff;
  background: red;
  border-radius: 50px; 
} 
.bgSecondValueCounterDefault
{
  padding: unset;
  color:unset;
  background: unset;
  border-radius: unset;
} */



/* .DMALS-ScoreCard-GridStyle{
  height: 100%;
  width:100%;   
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
width: 100%;
background: rgb(255, 255, 255);
color: rgb(81, 89, 97);
justify-content: space-evenly;
align-items: center;
overflow: auto;
} */
/* .counterSuffix:nth-child(5) {
  suffix:"%"
} */