<div class="generic-django-admin-header">
    <div class="main-section">
        <span class="css-pm3q3o"> Predict Results</span>
       
    </div>

</div>
<div id="content-main" class="contentMain">
    <div class="col-md-6" style="padding: 0;">
    <form autocomplete="off">

        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">What is your Campaign Budget? (in Dollars)


                    </label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="amountSpentUSD" id="amountSpentUSD" class="numberinput form-control" min="0" [(ngModel)]="amountSpentUSD">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Audience Reach you are targeting?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="reach" id="reach" class="numberinput form-control" min="0" [(ngModel)]="reach">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">How much Ads Impression you are targeting against your campaigns</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="impression" id="impression" class="numberinput form-control" min="0" [(ngModel)]="impression">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>

            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">What is your target Cost Per Purchase amount?</label>
                    <div class="related-widget-wrapper">
                        <input type="number" name="costPerResult" id="costPerResult" class="numberinput form-control" min="0" [(ngModel)]="costPerResult">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
            
        </fieldset>
        <a class="css-xpr64j pull-right" style=" float: right; margin-right: 65px;" id="savebtn" type="button" value="Calculate" (click)="getResults()">
            Calculate
        </a>
        <fieldset class="module aligned col-md-12" style="padding: 0;">
            <!-- <h2>Use Number Values</h2> -->
            <div class="form-row field-stack">
                <div>
                    <label class="label-text" for="id_stack">On the basis of above Budgets & Targets, expected Web Purchases shall be:</label>
                    <div class="related-widget-wrapper">
                        <input type="text" name="pridictedRsults" id="pridictedRsults" class="numberinput form-control" min="0" [(ngModel)]="pridictedRsults">
                    </div>
                    <div class="help">
                    </div>
                </div>
            </div>
           
        </fieldset>
    </form>
</div>
</div>